.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navigation__item {
  display: flex;
}
.navigation__item .btn {
  margin: auto;
}
.site-logo__text {
  margin: 15px auto;
}
.body {
  flex: 1;
  display: flex;
  margin: 15px 0;
}
.alert {
  margin: auto;
}
.quote {
  margin: auto;
  padding: 0;
  border: 1px solid #ccc;
  font-size: 1.5em;
  color: #555;
}
.quote__body {
  padding: 30px;
}
.quote__footer {
  border-top: 1px solid #ccc;
  background-color: #ededed;
  padding: 15px 30px;
  display: flex;
  align-items: center;
}
.quote__cite {
  margin-right: auto;
}
.spinner {
  background: url('https://i2.wp.com/www.dhp11.com/foswiki/pub/Internal/2012-06-12/spinner.gif') no-repeat center;
}
@media (min-width: 940px) {
  .navigation__list {
    display: flex;
    align-items: center;
  }
  .site-logo {
    margin-right: auto;
  }
  .site-logo__text {
    margin: 15px 15px 15px 0;
  }
  .quote {
    max-width: 50%;
    max-width: 75%;
  }
}
